.cartarear{
    margin: auto;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #edeaea;
    margin-top: 8rem;

}
.cartcontent{
    width: 80vw;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cart1{
    font-size: 2rem;
    color: #7b7b7b;
    text-align: center;
    padding: 2rem;

}
.subtotal1{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
   
    background-color: whitesmoke;
    width: 100%;
}
.subt{
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;

}
.sub{
    font-size: 1.8rem;
    color: #000;
    font-weight: 600;
    padding: 1rem;

}
.numberofcart{
    padding: 2rem;
}
.num3{
    font-size: 2rem;
    color: #7b7b7b;
}
.cartitem{
    display: flex;
    align-items: center;
     
    background-color: whitesmoke;

}
.cartimg{
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    object-fit: contain;
}
.desc{
    display: block;
    align-items: center;

}
#cartprice ,h3{
    padding: 1rem;
    font-size: 1.8rem;
     
    color: black;
    
     

}
.cart-quantity-input{
    width: 5rem;
    text-align: center;
    border: 0.5 solid #7b7b7b;
     
}
.outstock{
    padding: 1rem;
    background-color: #7b7b7b;
    color: #fcf9f9;
    border-radius: 8px;
    cursor: pointer;
}
.reducecart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color:whitesmoke ;
         
    

}
.rem{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

}
.stockoutcart{
    background-color: #f87a05;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin: 2rem;
}

.wish{
    font-size: 2rem;
    color: #0c0c0c;
     
    padding: 2rem;
}

.wish-slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.wish-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.wish-item {
    flex: 0 0 auto;
    margin-right: 10px;
    width: 200px; /* Adjust as needed */
}

.wish-item img {
    width: 100%;
    height: auto;
}

.wish-prev,
.wish-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.wish-prev {
    left: 10px;
}

.wish-next {
    right: 10px;
}

